.transaction-list-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
}

.filter-select {
    margin-bottom: 15px;
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px solid #828080;
    font-size: 14px;
    width: 250px;
    background-color: #eeeeee;
    color: #3f3f3f;
}

.add-transaction-btn {
    background-color: #4caf50;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 3%;
}

.add-transaction-btn:hover {
    background-color: #43a047;
}

.transaction-list-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.transaction-list-card li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #eeeeee;
    gap: 10px;
}

.transaction-list-card li:last-child {
    border-bottom: none;
}

.transaction-info {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.transaction-info .name {
    font-weight: 500;
}

.transaction-info .date {
    display: block;
    font-size: 12px;
    color: #888888;
}

.amount {
    padding: 5px 12px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: bold;
    min-width: 70px;
    text-align: center;
}

.amount.income {
    background-color: #4caf50;
}

.amount.expense {
    background-color: #f44336;
}

.emoji {
    font-size: 25px;
    border-radius: 50%;
    padding: 10px;
    background-color: #f6ecec;
    margin-right: 10px;
}

.action-buttons {
    display: flex;
    gap: 3px;
    font-size: 50;
}

.empty-text {
    color: #888;
    font-style: italic;
}

.list-header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.delete-tran {
    background-color: transparent;
    color: #f44336;
    padding-left: 3px;
}

.edit-tran {
    background-color: transparent;
    color: cadetblue;
    padding-right: 3px;
}

.download-btn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: #3f3f3f;
    background-color: transparent;
}

.download-btn:hover{
    color:#888888;
    text-decoration: underline;
}

.transaction-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}