@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Knewave&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Reenie+Beanie&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

.container {
  margin: 150px;
  font-family: "Fira Sans", sans-serif;
  /* background-color: #f0f4f9; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  max-width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.auth-title {
  margin: 0 0 20px;
  text-align: center;
  color: #1e3a8a; 
  font-size: 30px;
}

.auth-input {
  width: 93%;
  padding: 12px 14px;
  margin: 10px 0;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 15px;
}

.auth-input::placeholder {
  color: #94a3b8;
}

.auth-input:focus {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.25);
}

.auth-file {
   padding: 8px; 
    cursor: pointer;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    width: 93%;
    padding: 12px 14px;
    margin: 10px 0;
}

.auth-button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #3b82f6;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.auth-button:hover {
  background-color: #2563eb;
}


