

/* body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  background-color: #f0f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.auth-form {
  max-width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.auth-title {
  margin: 0 0 20px;
  text-align: center;
  color: #1e3a8a; 
  font-size: 30px;
}

.auth-input {
  width: 93%;
  padding: 12px 14px;
  margin: 10px 0;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 15px;
}

.auth-input::placeholder {
  color: #94a3b8;
}

.auth-input:focus {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.25);
}

.auth-file {
   padding: 8px; 
    cursor: pointer;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    width: 93%;
    padding: 12px 14px;
    margin: 10px 0;
}

.auth-button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #3b82f6;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.auth-button:hover {
  background-color: #2563eb;
}


